<!DOCTYPE html>
<html lang='en'>
  <head>
    {{ template "head" "Signup" }}
  </head>
  <body>
    <header>
      {{ template "navbar" }}
    </header>

    <main>
      <div class='hero min-h-screen bg-base-200'>
        <div class='hero-content text-center'>
          <div class='max-w-md flex flex-col items-center'>
            <h1 class='text-5xl font-bold'>Welcome to Compose Web</h1>

            <p class='text-lg py-5'>Create an account to get started</p>

            <fieldset class='fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4 py-6 text-start'>
              <legend class='fieldset-legend'>Signup</legend>

              <form action='/signup' method='POST' class='flex flex-col justify-start'>
                {{ range .Fields }}
                  {{ template "input" . }}
                  <div class='py-2'></div>
                {{ end }}

                <button class='btn btn-neutral mt-4'>Signup</button>
              </form>

              {{ if ne .Error "" }}
                <div role="alert" class="alert alert-error alert-soft">
                  <span>{{ .Error }}</span>
                </div>
              {{ end }}

              {{ if ne .Success "" }}
                <div role="alert" class="alert alert-success alert-soft">
                  <span>{{ .Success }}</span>
                </div>
              {{ end }}
            </fieldset>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
